* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}
.background {
  position: relative;
	height: 600px;
	width: 500px;
	overflow: hidden;
	background: url('images/background-img.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.author{
  position: absolute;
  bottom: 20px;
  left : 50px;
  width: 400px;
}
#birdId{
	height: 60px;
	width: 60px;
	position: absolute;
	top: 250px;
	left: 100px;
	z-index: 100;
}
button{
  padding: 10px 20px;
  font-size: 30px;
}
.pipe {
	position: absolute;
	right: 0px;
	width: 70px;
	background: radial-gradient(#3e8adfbb 50%, #84dd88);
	border: 5px solid black;
	z-index: 10;
}
.pipeup{
  top: 0;
}
.pipedown{
  bottom: 0px;
}
.score {
  position: absolute;
  top: 0;
  left: 37%;
	z-index: 100;
	color: white;
	-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
	margin-top: 10vh;
	font-family: Arial, Helvetica, sans-serif;
}
.scoreStyle {
	color: gold;
	font-weight: bold;
	font-size: 40px;
}